body {
  padding-top: 50px;
  background-image: url(../img/meshback.jpg);
}

.team-row {
  margin-top: 20px;
}
.score{
  font-size: 60px;
}
.page-container {
  background-color: white;
  border-radius: 4px;
}

.pbp-logo {
  padding-right: 6px;
}