body {
  padding-top: 50px;
}
.starter-template {
  padding: 40px 15px;
  text-align: center;
}
.modal-dialog {
  width: 90%;
  height: 90%;
  padding: 0;
}

.modal-content {
  height: 90%;
  border-radius: 0;
}

.modal-backdrop.in {
	opacity: 1;
}


#realigning {
	font-size: 10.9vw;
}

.block {
  text-align: center;
}
 
.block:before {
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
    
  /* For visualization 
  background: #808080; width: 5px;
  */
 }
 
.centered {
  display: inline-block;
  vertical-align: middle;
  
 }

 @keyframes blink {  
    0% { color: red; }
    100% { color: black; }
}
@-webkit-keyframes blink {
    0% { color: red; }
    100% { color: black; }
}
.blink {
    -webkit-animation: blink 0.5s linear infinite;
    -moz-animation: blink 0.5s linear infinite;
    animation: blink 0.5s linear infinite;
} 

.pbp-logo {
  padding-right: 6px;
}